.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background-color: #4b4559;
    padding: 1rem 2rem; 
  }
  
  .nav-logo {
    height: 80px; 
  }
  
  .navbar-links {
    display: flex;
    gap: 1.5rem; 
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    font-size: 25px;
  }